@using ScrumPlanningPoker.Services
@inherits ComponentBase
@inject ThemeStateService ThemeState

<button class="dark-theme-button" @onclick="Toggle">
    @if (ThemeState.DarkMode)
    {
        <img src="icons/moon.png" alt="moon"/>
    }
    else
    {
        <img src="icons/sun.png" alt="sun"/>
    }
</button>

<style>
    
    .dark-theme-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        outline: none;
        width: 50px;
        height: 50px;
    }
    .dark-theme-button:hover {
        background: transparent;
        border: none;
        outline: none;
        opacity: 80%;
    }
    
    .dark-theme-button img {
        max-width: 85%;
        max-height: 85%;
    }
    
</style>

@code {
    
    protected override Task OnInitializedAsync()
    {
        return ThemeState.InitializeDarkMode();
    }

    private async Task Toggle()
    {
        await ThemeState.ToggleDarkMode();
        StateHasChanged();
    }

}