:root {
    --primary-color: #c9624c;
    --secondary-color: #4C5B61;
    --tiercary-color: #F1F6F8;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

button {
    padding: 6px;
    border-radius: 5px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: var(--tiercary-color);
    min-width: 180px;
    transition: all 0.1s ease-in-out;
}

button:hover {
    opacity: 75%;
}