@page "/"
@attribute [RenderModeInteractiveServer(false)]
@inherits HomeBase

<title>Lobby</title>

<div class="page @ThemeState.CssDarkMode">
    
    <ThemeToggle/>

    <div class="container">

        <h1 class="title">Create a new game</h1>

        @if (!string.IsNullOrEmpty(RoomLink))
        {
            <div class="room-link_container">

                <div class="room-link_container--scroll-box">
                    <p>@RoomLink</p>
                </div>

                <button class="room-link_container--button" @onclick="CopyRoomLink">
                    <img src="icons/copy.png" alt="copy"/>
                </button>

                <button class="room-link_container--button goto-link" @onclick="GoToRoomLink">
                    <img src="icons/arrow.png" alt="arrow"/>
                </button>

            </div>
        }
        else
        {
            <button class="action-button" @onclick="Create">New game</button>
        }
    </div>

</div>
