@page "/"
@attribute [RenderModeInteractiveServer(false)]
@inherits HomeBase

<title>Lobby</title>

<div class="page">
    
    <div class="container">
        
        <h1 class="title">Create a new game</h1>

        <button @onclick="Create">New game</button>

    </div>
    
</div>


@* *@
@* <br/> *@
@* *@
@* @if (!string.IsNullOrEmpty(RoomLink)) *@
@* { *@
@*     <p>@RoomLink</p> *@
@*      *@
@*     <button> *@
@*         <a href="@RoomLink">Lien de la room</a> *@
@*     </button> *@
@* } *@
