@page "/"
@attribute [RenderModeInteractiveServer(false)]
@inherits HomeBase

<h2>Create a New Room</h2>

<button @onclick="Create">Créer une Room</button>

@if (!string.IsNullOrEmpty(RoomLink))
{
    <p>Room Link: <a href="@RoomLink">Lien de la room</a></p>
}
