.input-container {
    width: 100%;
}

.input-form {
    padding: 5px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    outline: none;
}
.input-form:hover {
    border-color: var(--secondary-color-bis);
}
.input-form:focus {
    border-color: var(--primary-color);
}

.toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}



.horizontal-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 90%;
}

.card-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
    height: 100%;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 9vmax;
    height: 12vmax;
    margin: 15px;
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
}
.inner-card {
    width: 70%;
    height: 78%;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}
.inner-card > button {
    background-color: var(--tiercary-color);
    color: var(--primary-color);
    font-size: 4.5em;
    font-weight: normal;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.users-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 30%;
    height: 100%;
}