.input-container {
    width: 100%;
}

.input-form {
    padding: 5px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    border-radius: 4px;
    outline: none;
}
.input-form:hover {
    border-color: var(--secondary-color-bis);
}
.input-form:focus {
    border-color: var(--primary-color);
}

.toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}



.horizontal-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 90%;
}

.card-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75%;
    height: 100%;
}

.spectator-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
    width: 40%;
    min-width: 350px;
}

.user-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tiercary-color);
    width: 9vmax;
    height: 12vmax;
    margin: 18px;
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
}
.card p {
    color: var(--primary-color);
}
.card:hover {
    opacity: 100%;
    cursor: not-allowed;
}
.card-unselected:hover {
    background-color: var(--primary-color);
    opacity: 70%;
    cursor: pointer;
}
.card-unselected:hover p {
    color: var(--tiercary-color);
}
.card-selected {
    background-color: var(--primary-color);
}
.card-selected p {
    background-color: var(--primary-color);
    color: var(--tiercary-color);
}
.inner-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 76%;
    height: 76%; /* 82% */
    border: 1px solid #cfd4d7;
    border-radius: 4px;
}
.inner-card > p {
    font-size: 3.3em;
    font-weight: normal;
}

.card-value-tiny {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.card-value-top {
    position: absolute;
    top: 5px;
    left: 5px;
}

.card-value-bottom {
    position: absolute;
    display: inline-block;
    transform: rotateX(180deg) rotateY(180deg);
    bottom: 5px;
    right: 5px;
}

.suggested-note {
    margin-top: 10px;
    margin-bottom: 10px;
}


.clients-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.users-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    box-shadow: rgba(9, 30, 66, 0.25) 0 4px 8px -2px, rgba(9, 30, 66, 0.08) 0 0 0 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    min-width: 175px;
    height: 70%;
    border-radius: 4px;
}
.spectator {
    height: 30%;
}

.users-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 60px;
}

.users-title {
    color: var(--tiercary-color);
    text-align: center;
}

.user-title-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    height: 60px;
    padding: 0 0 0 40px;
    box-shadow: 0 2px 2px -2px rgba(9, 30, 66, 0.25);
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 75%;
    height: 100%;
}
.user-info img {
    margin-left: 10px;
    max-width: 40%;
    max-height: 40%;
}

.user-note {
    width: 25%;
    text-align: center;
}

.user-name {
    font-size: 1.5em;
    font-weight: normal;
}

.user-text {
    font-size: 2em;
    font-weight: bold;
}









@media screen and (max-width: 1279px) {
    .inner-card > p {
        font-size: 1.8em;
    }

    .card-value-tiny {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 959px) {
    .inner-card > p {
        font-size: 1.3em;
    }

    .card-value-tiny {
        font-size: 0.5em;
    }

    .card-value-top {
        top: 3px;
        left: 3px;
    }

    .card-value-bottom {
        bottom: 3px;
        right: 3px;
    }
}